*.aux
*.log
*.pdf
macros.def
exec/auxiliary.rst
exec/runtime.rst
exec/instructions.rst
exec/modules.rst
valid/instructions.rst
valid/conventions.rst
valid/types.rst
syntax/instructions.rst
syntax/modules.rst
syntax/types.rst
syntax/values.rst
util/__pycache__/*
util/macros.def
_sphinx
